{
  "openapi": "3.0.2",
  "info": {
    "title": "RemoteSpark Public API Docs",
    "description": "This documentation shows and allows you to use RemoteSpark Public API's.",
    "termsOfService": "https://www.kognitivspark.com/terms",
    "license": {"name": "Apache 2.0", "url": "http://www.apache.org/licenses/LICENSE-2.0.html"},
    "version": "1.0.0"
  },
  "servers": [{"url": "https://rsbackend.azure-api.net"}],
  "tags": [
    {"name": "Authenticate", "description": "General API's"},
    {"name": "Content", "description": "API's to fetch and update content."},
    {"name": "Dashboard", "description": "API's to create, update, and fetch dashboards."},
    {"name": "Telemetry", "description": "API's for fetching usage data."},
    {"name": "Vision", "description": "API's for interacting with active users."}
  ],
  "paths": {
    "/login": {
      "post": {
        "tags": ["Authenticate"],
        "summary": "Login",
        "description": "User this endpoint to login and aquire auth token.",
        "operationId": "login",
        "parameters": [
          {
            "name": "x-management-key",
            "in": "header",
            "required": true,
            "explode": false,
            "schema": {"type": "string"}
          }
        ],
        "requestBody": {
          "description": "Request Body for Login",
          "content": {
            "application/json": {"schema": {"$ref": "#/components/schemas/Login"}}
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Login Successfully",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/ResponseString"}
              }
            }
          },
          "400": {
            "description": "Invalid Login"
          }
        }
      }
    },

    "/org/createFolder": {
      "post": {
        "tags": ["Content"],
        "summary": "Create Folder",
        "description": "Create new Folder in Organization gallery",
        "operationId": "createFolder",
        "parameters": [
          {
            "name": "x-management-key",
            "in": "header",
            "required": true,
            "explode": true,
            "schema": {"type": "string"}
          },
          {
            "name": "x-auth-token",
            "in": "header",
            "required": true,
            "explode": false,
            "schema": {"type": "string"}
          }
        ],
        "requestBody": {
          "description": "Request Body for Creating New Folder",
          "content": {
            "application/json": {"schema": {"$ref": "#/components/schemas/Folder"}}
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/ResponseString"}
              }
            }
          },
          "300": {
            "description": "Ambiguous Request"
          },
          "400": {
            "description": "Missing Request Data, Bad Request"
          },
          "404": {
            "description": "Recources Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/org/allfolders": {
      "get": {
        "tags": ["Content"],
        "summary": "Get All Organization Gallery Folders",
        "description": "View all the folders and their content in the Organization Gallery",
        "operationId": "getOrgFolders",
        "parameters": [
          {
            "name": "x-management-key",
            "in": "header",
            "required": true,
            "explode": true,
            "schema": {"type": "string"}
          },
          {
            "name": "x-auth-token",
            "in": "header",
            "required": true,
            "explode": false,
            "schema": {"type": "string"}
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/ResponseObject"}
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/org/folder": {
      "delete": {
        "tags": ["Content"],
        "summary": "Delete Folder",
        "description": "Delete folder and all its content from organization gallery",
        "operationId": "deleteFolder",
        "parameters": [
          {
            "name": "x-management-key",
            "in": "header",
            "required": true,
            "explode": true,
            "schema": {"type": "string"}
          },
          {
            "name": "x-auth-token",
            "in": "header",
            "required": true,
            "explode": false,
            "schema": {"type": "string"}
          },
          {
            "name": "Name/ID",
            "in": "query",
            "description": "Folder Name/ID",
            "required": true,
            "explode": true,
            "schema": {"type": "string"}
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/ResponseString"}
              }
            }
          },
          "300": {
            "description": "Ambiguous Request"
          },
          "400": {
            "description": "Missing Request Data"
          },
          "404": {
            "description": "Recources Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "get": {
        "tags": ["Content"],
        "summary": "Get Folder",
        "description": "Get a specific folder from organization gallery",
        "operationId": "getFolder",
        "parameters": [
          {
            "name": "x-management-key",
            "in": "header",
            "required": true,
            "explode": true,
            "schema": {"type": "string"}
          },
          {
            "name": "x-auth-token",
            "in": "header",
            "required": true,
            "explode": false,
            "schema": {"type": "string"}
          },
          {
            "name": "Name/ID",
            "in": "query",
            "description": "Folder Name/ID",
            "required": true,
            "explode": true,
            "schema": {"type": "string"}
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/ResponseObject"}
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "300": {
            "description": "Ambiguous Request"
          },
          "400": {
            "description": "Missing Request Data"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/org/item": {
      "delete": {
        "tags": ["Content"],
        "summary": "Delete Specific Item",
        "description": "Delete a specific item in organization gallery",
        "operationId": "deleteItem",
        "parameters": [
          {
            "name": "x-management-key",
            "in": "header",
            "required": true,
            "explode": true,
            "schema": {"type": "string"}
          },
          {
            "name": "x-auth-token",
            "in": "header",
            "required": true,
            "explode": false,
            "schema": {"type": "string"}
          },
          {
            "name": "Name/ID",
            "in": "query",
            "description": "Item Name/ID",
            "required": true,
            "explode": true,
            "schema": {"type": "string"}
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/ResponseString"}
              }
            }
          },
          "300": {
            "description": "Ambiguous Request"
          },
          "400": {
            "description": "Missing Request Data"
          },
          "404": {
            "description": "Recources Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/org/upload": {
      "post": {
        "tags": ["Content"],
        "summary": "Upload Data to Organization Gallery",
        "description": "Upload Data to a specific folder in organization gallery.",
        "operationId": "upload",
        "parameters": [
          {
            "name": "x-management-key",
            "in": "header",
            "required": true,
            "explode": true,
            "schema": {"type": "string"}
          },
          {
            "name": "x-auth-token",
            "in": "header",
            "required": true,
            "explode": false,
            "schema": {"type": "string"}
          }
        ],
        "requestBody": {
          "description": "Request body for uploading data",
          "content": {
            "multipart/form-data": {"schema": {"$ref": "#/components/schemas/UploadData"}}
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/ResponseString"}
              }
            }
          },
          "300": {
            "description": "Ambiguous Request"
          },
          "400": {
            "description": "Missing Request Data"
          },
          "404": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },

    "/dashboard/create": {
      "post": {
        "tags": ["Dashboard"],
        "summary": "Create Dashboard",
        "description": "Create dashboard with custom data",
        "operationId": "createDashboard",
        "parameters": [
          {
            "name": "x-management-key",
            "in": "header",
            "required": true,
            "explode": true,
            "schema": {"type": "string"}
          },
          {
            "name": "x-auth-token",
            "in": "header",
            "required": true,
            "explode": false,
            "schema": {"type": "string"}
          }
        ],
        "requestBody": {
          "description": "Request body for creating dashboard.",
          "content": {
            "application/json": {"schema": {"$ref": "#/components/schemas/Dashboard"}}
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/ResponseString"}
              }
            }
          },
          "400": {
            "description": "Missing Request Data, Bad Request"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/dashboard/all": {
      "get": {
        "tags": ["Dashboard"],
        "summary": "Get All Dashboards",
        "description": "Get all dashboards for your organization",
        "operationId": "allDashboards",
        "parameters": [
          {
            "name": "x-management-key",
            "in": "header",
            "required": true,
            "explode": true,
            "schema": {"type": "string"}
          },
          {
            "name": "x-auth-token",
            "in": "header",
            "required": true,
            "explode": false,
            "schema": {"type": "string"}
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/ResponseObject"}
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/dashboard/data": {
      "patch": {
        "tags": ["Dashboard"],
        "summary": "Add Data to Dashboard",
        "description": "Add data to a specific dashboard.",
        "operationId": "addData",
        "requestBody": {
          "description": "Request body",
          "content": {
            "application/json": {"schema": {"$ref": "#/components/schemas/AddData"}}
          }
        },
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/ResponseString"}
              }
            }
          },
          "400": {
            "description": "Missing Request Data, Bad Request"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/dashboard/delete": {
      "delete": {
        "tags": ["Dashboard"],
        "summary": "Delete Dashboard",
        "description": "Delete Dashboard",
        "operationId": "deleteDashboard",
        "parameters": [
          {
            "name": "x-management-key",
            "in": "header",
            "required": true,
            "explode": true,
            "schema": {"type": "string"}
          },
          {
            "name": "x-auth-token",
            "in": "header",
            "required": true,
            "explode": false,
            "schema": {"type": "string"}
          },
          {
            "name": "Name/ID",
            "in": "query",
            "description": "Folder Name/ID",
            "required": true,
            "explode": true,
            "schema": {"type": "string"}
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/ResponseString"}
              }
            }
          },
          "300": {
            "description": "Ambiguous Request"
          },
          "400": {
            "description": "Missing Data, Bad Request"
          },
          "404": {
            "description": "Dashboard not found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/dashboard/get": {
      "get": {
        "tags": ["Dashboard"],
        "summary": "Get Dashboard",
        "description": "Fetch a specific dashboard",
        "operationId": "getDashboard",
        "parameters": [
          {
            "name": "x-management-key",
            "in": "header",
            "required": true,
            "explode": true,
            "schema": {"type": "string"}
          },
          {
            "name": "x-auth-token",
            "in": "header",
            "required": true,
            "explode": false,
            "schema": {"type": "string"}
          },
          {
            "name": "Name/ID",
            "in": "query",
            "description": "Folder Name/ID",
            "required": true,
            "explode": true,
            "schema": {"type": "string"}
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/ResponseObject"}
              }
            }
          },
          "300": {
            "description": "Ambiguous Request"
          },
          "400": {
            "description": "Missing Data, Bad Request"
          },
          "404": {
            "description": "Dashboard not found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },

    "/telemetry/fullreport": {
      "get": {
        "tags": ["Telemetry"],
        "summary": "Full Activity Report",
        "description": "Get full activity report for your organization",
        "operationId": "fullreport",
        "parameters": [
          {
            "name": "x-management-key",
            "in": "header",
            "required": true,
            "explode": true,
            "schema": {"type": "string"}
          },
          {
            "name": "x-auth-token",
            "in": "header",
            "required": true,
            "explode": false,
            "schema": {"type": "string"}
          },
          {
            "name": "Start Date",
            "in": "query",
            "required": true,
            "explode": true,
            "schema": {"type": "string", "default": "YYYY-MM-DD"}
          },
          {
            "name": "End Date",
            "in": "query",
            "required": true,
            "explode": true,
            "schema": {"type": "string", "default": "YYYY-MM-DD"}
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/ResponseObject"}
              }
            }
          },
          "400": {
            "description": "Missing Data, Bad Request"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/telemetry/usageReport": {
      "get": {
        "tags": ["Telemetry"],
        "summary": "Usage Report",
        "description": "Usage report for your organization",
        "operationId": "usageReport",
        "parameters": [
          {
            "name": "x-management-key",
            "in": "header",
            "required": true,
            "explode": true,
            "schema": {"type": "string"}
          },
          {
            "name": "x-auth-token",
            "in": "header",
            "required": true,
            "explode": false,
            "schema": {"type": "string"}
          },
          {
            "name": "Start Date",
            "in": "query",
            "required": true,
            "explode": true,
            "schema": {"type": "string", "default": "YYYY-MM-DD"}
          },
          {
            "name": "End Date",
            "in": "query",
            "required": true,
            "explode": true,
            "schema": {"type": "string", "default": "YYYY-MM-DD"}
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/ResponseObject"}
              }
            }
          },
          "400": {
            "description": "Missing Data, Bad Request"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },

    "/visual/call": {
      "post": {
        "tags": ["Vision"],
        "summary": "Call User",
        "description": "This endpoint allows you to send a call request to the provided user.",
        "operationId": "callUser",
        "parameters": [
          {
            "name": "x-management-key",
            "in": "header",
            "required": true,
            "explode": true,
            "schema": {"type": "string"}
          },
          {
            "name": "x-auth-token",
            "in": "header",
            "required": true,
            "explode": false,
            "schema": {"type": "string"}
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "EmailAddress": {"type": "string", "default": ""}
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/ResponseString"}
              }
            }
          },
          "400": {
            "description": "Missing Data, Bad Request"
          },
          "401": {
            "description": "Call not authorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/visual/placeContent": {
      "post": {
        "tags": ["Vision"],
        "summary": "Place Content on Scene",
        "description": "This endpoint allows you to add content to users scene.",
        "operationId": "placeContent",
        "parameters": [
          {
            "name": "x-management-key",
            "in": "header",
            "required": true,
            "explode": true,
            "schema": {"type": "string"}
          },
          {
            "name": "x-auth-token",
            "in": "header",
            "required": true,
            "explode": false,
            "schema": {"type": "string"}
          }
        ],
        "requestBody": {
          "description": "Request body for placing content",
          "content": {
            "multipart/form-data": {"schema": {"$ref": "#/components/schemas/PlaceContent"}}
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/ResponseString"}
              }
            }
          },
          "400": {
            "description": "Missing Data, Bad Request"
          },
          "406": {
            "description": "User not active"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/visual/feedback": {
      "post": {
        "tags": ["Vision"],
        "summary": "Send Feedback to User",
        "description": "This endpoint allows you to send visual feedback to the provided user.",
        "operationId": "feedback",
        "parameters": [
          {
            "name": "x-management-key",
            "in": "header",
            "required": true,
            "explode": true,
            "schema": {"type": "string"}
          },
          {
            "name": "x-auth-token",
            "in": "header",
            "required": true,
            "explode": false,
            "schema": {"type": "string"}
          }
        ],
        "requestBody": {
          "description": "Request body for sending feedback",
          "content": {
            "application/json": {"schema": {"$ref": "#/components/schemas/Feedback"}}
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/ResponseString"}
              }
            }
          },
          "400": {
            "description": "Missing Data, Bad Request"
          },
          "406": {
            "description": "User not active"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/visual/capture": {
      "post": {
        "tags": ["Vision"],
        "summary": "Take Photo Command",
        "description": "This endpoint allows you to send a command telling the device user to take a photo and upload it to a provided url.",
        "operationId": "takePhoto",
        "parameters": [
          {
            "name": "x-management-key",
            "in": "header",
            "required": true,
            "explode": true,
            "schema": {"type": "string"}
          },
          {
            "name": "x-auth-token",
            "in": "header",
            "required": true,
            "explode": false,
            "schema": {"type": "string"}
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {"schema": {"$ref": "#/components/schemas/PhotoCommand"}}
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/ResponseString"}
              }
            }
          },
          "400": {
            "description": "Missing Data, Bad Request"
          },
          "406": {
            "description": "User not active"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ResponseString": {
        "type": "object",
        "properties": {
          "returnStatusCode": {"type": "integer", "format": "int64", "example": 200},
          "returnCode": {"type": "string"},
          "payLoad": {"type": "string"},
          "message": {"type": "string"},
          "severity": {"type": "integer"}
        }
      },
      "ResponseObject": {
        "type": "object",
        "properties": {
          "returnStatusCode": {"type": "integer", "format": "int64", "example": 200},
          "returnCode": {"type": "string"},
          "payLoad": {"type": "object"},
          "message": {"type": "string"},
          "severity": {"type": "integer"}
        }
      },
      "Login": {
        "type": "object",
        "properties": {
          "EmailAddress": {"type": "string", "default": ""},
          "Password": {"type": "string", "default": ""}
        }
      },
      "Folder": {
        "type": "object",
        "properties": {
          "ParentFolder": {"type": "string", "default": ""},
          "FolderName": {"type": "string", "default": ""}
        }
      },
      "UploadData": {
        "type": "object",
        "properties": {
          "FolderName": {"type": "string", "default": ""},
          "ParentFolder": {"type": "string", "default": ""},
          "Files": {"type": "array", "items": {"type": "string", "format": "binary"}}
        }
      },
      "DashboardData": {
        "type": "object",
        "properties": {
          "Label": {"type": "string", "default": ""},
          "Value": {"type": "string", "default": ""},
          "Unit": {"type": "string", "default": ""}
        }
      },
      "Dashboard": {
        "type": "object",
        "properties": {
          "Name": {"type": "string", "default": ""},
          "Data": {"type": "array", "items": {"$ref": "#/components/schemas/DashboardData"}}
        }
      },
      "AddData": {
        "type": "array",
        "items": {"$ref": "#/components/schemas/DashboardData"}
      },
      "PlaceContent": {
        "type": "object",
        "properties": {
          "ReceiverEmail": {"type": "string", "default": ""},
          "Files": {"type": "array", "items": {"type": "string", "format": "binary"}}
        }
      },
      "Feedback": {
        "type": "object",
        "properties": {
          "EmailAddress": {"type": "string", "default": ""},
          "Message": {"type": "string", "default": ""}
        }
      },
      "PhotoCommand": {
        "type": "object",
        "properties": {
          "ReceiverEmail": {"type": "string", "default": ""},
          "UploadURL": {"type": "string", "default": ""},
          "RequestBody": {"type": "object"},
          "Headers": {"type": "object"}
        }
      }
    }
  }
}
