{
  "openapi": "3.0.2",
  "info": {
    "title": "RemoteSpark Dashbaord API Docs",
    "description": "This documentation shows and allows you to use RemoteSpark Dashbaord API's.",
    "termsOfService": "https://www.kognitivspark.com/terms",
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "version": "1.0.1"
  },
  "servers": [ { "url": "https://rsbackend.azure-api.net" } ],
  "tags": [
    {
      "name": "Authenticate",
      "description": "Authentication and Authoriztion API's"
    },
    {
      "name": "Dashboard",
      "description": "API's to create, update, and fetch dashboards."
    }
  ],
  "paths": {
    "/authentication/login": {
      "post": {
        "tags": [ "Authenticate" ],
        "summary": "Login",
        "description": "Use this endpoint to aquire auth tokens.",
        "operationId": "login",
        "parameters": [
          {
            "name": "x-management-key",
            "in": "header",
            "required": true,
            "explode": false,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "description": "Request Body for Login",
          "content": {
            "application/json": { "schema": { "$ref": "#/components/schemas/Login" } }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Login Successfully",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ResponseString" }
              }
            }
          },
          "400": {
            "description": "Invalid Login"
          }
        }
      }
    },
    "/dashboard/create": {
      "post": {
        "tags": [ "Dashboard" ],
        "summary": "Create Dashboard",
        "description": "Create dashboard",
        "operationId": "createDashboard",
        "parameters": [
          {
            "name": "x-management-key",
            "in": "header",
            "required": true,
            "explode": true,
            "schema": { "type": "string" }
          },
          {
            "name": "x-auth-token",
            "in": "header",
            "required": true,
            "explode": false,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "description": "Request body for creating dashboard.",
          "content": {
            "application/json": { "schema": { "$ref": "#/components/schemas/DashboardEmpty" } }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ResponseString" }
              }
            }
          },
          "400": {
            "description": "Missing Request Data, Bad Request"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/dashboard/all": {
      "get": {
        "tags": [ "Dashboard" ],
        "summary": "Get All Dashboards",
        "description": "Get all dashboards for your organization",
        "operationId": "allDashboards",
        "parameters": [
          {
            "name": "x-management-key",
            "in": "header",
            "required": true,
            "explode": true,
            "schema": { "type": "string" }
          },
          {
            "name": "x-auth-token",
            "in": "header",
            "required": true,
            "explode": false,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ResponseObject" }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/dashboard/adddata": {
      "patch": {
        "tags": [ "Dashboard" ],
        "summary": "Add Data to Dashboard",
        "description": "Add data to a specific dashboard.",
        "operationId": "addData",
        "requestBody": {
          "description": "Request body",
          "content": {
            "application/json": { "schema": { "$ref": "#/components/schemas/DashBoardDataByID" } }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ResponseString" }
              }
            }
          },
          "400": {
            "description": "Missing Request Data, Bad Request"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/dashboard/updatedata": {
      "patch": {
        "tags": [ "Dashboard" ],
        "summary": "Update Data to Dashboard",
        "description": "Add data to a specific dashboard.",
        "operationId": "addData",
        "requestBody": {
          "description": "Request body",
          "content": {
            "application/json": { "schema": { "$ref": "#/components/schemas/DashBoardDataByID" } }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ResponseString" }
              }
            }
          },
          "400": {
            "description": "Missing Request Data, Bad Request"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/dashboard/delete": {
      "delete": {
        "tags": [ "Dashboard" ],
        "summary": "Delete Dashboard",
        "description": "Delete Dashboard",
        "operationId": "deleteDashboard",
        "parameters": [
          {
            "name": "x-management-key",
            "in": "header",
            "required": true,
            "explode": true,
            "schema": { "type": "string" }
          },
          {
            "name": "x-auth-token",
            "in": "header",
            "required": true,
            "explode": false,
            "schema": { "type": "string" }
          },
          {
            "name": "ID",
            "in": "query",
            "description": "Dashboard ID",
            "required": true,
            "explode": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ResponseString" }
              }
            }
          },
          "300": {
            "description": "Ambiguous Request"
          },
          "400": {
            "description": "Missing Data, Bad Request"
          },
          "404": {
            "description": "Dashboard not found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/dashboard/get": {
      "get": {
        "tags": [ "Dashboard" ],
        "summary": "Get Dashboard",
        "description": "Fetch a specific dashboard",
        "operationId": "getDashboard",
        "parameters": [
          {
            "name": "x-management-key",
            "in": "header",
            "required": true,
            "explode": true,
            "schema": { "type": "string" }
          },
          {
            "name": "x-auth-token",
            "in": "header",
            "required": true,
            "explode": false,
            "schema": { "type": "string" }
          },
          {
            "name": "ID",
            "in": "query",
            "description": "Dashboard ID",
            "required": true,
            "explode": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ResponseObject" }
              }
            }
          },
          "300": {
            "description": "Ambiguous Request"
          },
          "400": {
            "description": "Missing Data, Bad Request"
          },
          "404": {
            "description": "Dashboard not found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ResponseString": {
        "type": "object",
        "properties": {
          "returnStatusCode": {
            "type": "integer",
            "format": "int64",
            "example": 200
          },
          "returnCode": { "type": "string" },
          "payLoad": { "type": "string" },
          "message": { "type": "string" },
          "severity": { "type": "integer" }
        }
      },
      "ResponseObject": {
        "type": "object",
        "properties": {
          "returnStatusCode": {
            "type": "integer",
            "format": "int64",
            "example": 200
          },
          "returnCode": { "type": "string" },
          "payLoad": { "type": "object" },
          "message": { "type": "string" },
          "severity": { "type": "integer" }
        }
      },
      "Login": {
        "type": "object",
        "properties": {
          "EmailAddress": {
            "type": "string",
            "default": ""
          },
          "Password": {
            "type": "string",
            "default": ""
          }
        }
      },
      "DashboardData": {
        "type": "object",
        "properties": {
          "Label": {
            "type": "string",
            "default": ""
          },
          "Value": {
            "type": "string",
            "default": ""
          },
          "Unit": {
            "type": "string",
            "default": ""
          }
        }
      },
      "Dashboard": {
        "type": "object",
        "properties": {
          "Name": {
            "type": "string",
            "default": ""
          },
          "Data": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/DashboardData" }
          }
        }
      },
      "DashboardEmpty": {
        "type": "object",
        "properties": {
          "Name": {
            "type": "string",
            "default": ""
          }
        },
        "DashboardParm": {
          "type": "object",
          "properties": {
            "id": {
              "type": "string",
              "default": ""
            }
          },
          "AddData": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/DashboardData" }
          },
          "DashBoardDataByID": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "default": ""
              },
              "Label": {
                "type": "string",
                "default": ""
              },
              "Value": {
                "type": "string",
                "default": ""
              },
              "Unit": {
                "type": "string",
                "default": ""
              }
            }
          }
        }
      }
    }
  }
}
