{
  "openapi": "3.0.2",
  "info": {
    "title": "RemoteSpark Dashboard API Documentation and Test Rig",
    "description": "This documentation shows and enables you to use RemoteSpark Dashboard API's.",
    "termsOfService": "https://www.kognitivspark.com/terms",
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "version": "1.0.1"
  },
  "servers": [ { "url": "https://rsbackend.azure-api.net" } ],
  "tags": [
    {
      "name": "Authenticate",
      "description": "Authentication and Authoriztion API's"
    },
    {
      "name": "Dashboard",
      "description": "API's to create, update, and fetch dashboards."
    },
    {
      "name": "Content",
      "description": "API's to create, update, and fetch dashboards."
    }
  ],
  "paths": {
    "/api/token": {
      "post": {
        "tags": [ "Authenticate" ],
        "summary": "Login",
        "description": "Use this endpoint to aquire auth token.",
        "operationId": "login",
        "parameters": [
          {
            "name": "x-management-key",
            "in": "header",
            "required": true,
            "explode": false,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "description": "Request Body for Login",
          "content": {
            "application/json": { "schema": { "$ref": "#/components/schemas/Login" } }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Login Successfully",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ResponseString" }
              }
            }
          },
          "400": {
            "description": "Invalid Login"
          }
        }
      }
    },
    "/api/create": {
      "post": {
        "tags": [ "Dashboard" ],
        "summary": "Create Dashboard",
        "description": "Create dashboard",
        "operationId": "createDashboard",
        "parameters": [
          {
            "name": "x-management-key",
            "in": "header",
            "required": true,
            "explode": true,
            "schema": { "type": "string" }
          },
          {
            "name": "x-auth-token",
            "in": "header",
            "required": true,
            "explode": false,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "description": "Request body for creating dashboard.",
          "content": {
            "application/json": { "schema": { "$ref": "#/components/schemas/DashboardEmpty" } }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ResponseString" }
              }
            }
          },
          "400": {
            "description": "Missing Request Data, Bad Request"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/list": {
      "get": {
        "tags": [ "Dashboard" ],
        "summary": "Get All Dashboards",
        "description": "Get all dashboards for your organization",
        "operationId": "allDashboards",
        "parameters": [
          {
            "name": "x-management-key",
            "in": "header",
            "required": true,
            "explode": true,
            "schema": { "type": "string" }
          },
          {
            "name": "x-auth-token",
            "in": "header",
            "required": true,
            "explode": false,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ResponseObject" }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/add": {
      "patch": {
        "tags": [ "Dashboard" ],
        "summary": "Add Data to Dashboard",
        "description": "Add data to a specific dashboard.",
        "operationId": "addData",
        "parameters": [
          {
            "name": "x-management-key",
            "in": "header",
            "required": true,
            "explode": true,
            "schema": { "type": "string" }
          },
          {
            "name": "x-auth-token",
            "in": "header",
            "required": true,
            "explode": false,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "description": "Request body",
          "content": {
            "application/json": { "schema": { "$ref": "#/components/schemas/DashBoardDataByID" } }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ResponseString" }
              }
            }
          },
          "400": {
            "description": "Missing Request Data, Bad Request"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/update": {
      "patch": {
        "tags": [ "Dashboard" ],
        "summary": "Update Data to Dashboard",
        "description": "Update data to a specific dashboard.",
        "operationId": "updateData",
        "parameters": [
          {
            "name": "x-management-key",
            "in": "header",
            "required": true,
            "explode": true,
            "schema": { "type": "string" }
          },
          {
            "name": "x-auth-token",
            "in": "header",
            "required": true,
            "explode": false,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "description": "Request body",
          "content": {
            "application/json": { "schema": { "$ref": "#/components/schemas/DashBoardDataByID" } }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ResponseString" }
              }
            }
          },
          "400": {
            "description": "Missing Request Data, Bad Request"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/remove": {
      "delete": {
        "tags": [ "Dashboard" ],
        "summary": "Delete Data to Dashboard",
        "description": "Delete data in a specific dashboard.",
        "operationId": "deleteData",
        "parameters": [
          {
            "name": "x-management-key",
            "in": "header",
            "required": true,
            "explode": true,
            "schema": { "type": "string" }
          },
          {
            "name": "x-auth-token",
            "in": "header",
            "required": true,
            "explode": false,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "description": "Request body",
          "content": {
            "application/json": { "schema": { "$ref": "#/components/schemas/DashBoardDataByID" } }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ResponseString" }
              }
            }
          },
          "400": {
            "description": "Missing Request Data, Bad Request"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },

    "/api/delete": {
      "delete": {
        "tags": [ "Dashboard" ],
        "summary": "Delete Dashboard",
        "description": "Delete Dashboard",
        "operationId": "deleteDashboard",
        "parameters": [
          {
            "name": "x-management-key",
            "in": "header",
            "required": true,
            "explode": true,
            "schema": { "type": "string" }
          },
          {
            "name": "x-auth-token",
            "in": "header",
            "required": true,
            "explode": false,
            "schema": { "type": "string" }
          },
          {
            "name": "ID",
            "in": "query",
            "description": "Dashboard ID",
            "required": true,
            "explode": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ResponseString" }
              }
            }
          },
          "300": {
            "description": "Ambiguous Request"
          },
          "400": {
            "description": "Missing Data, Bad Request"
          },
          "404": {
            "description": "Dashboard not found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/get": {
      "get": {
        "tags": [ "Dashboard" ],
        "summary": "Get Dashboard",
        "description": "Fetch a specific dashboard",
        "operationId": "getDashboard",
        "parameters": [
          {
            "name": "x-management-key",
            "in": "header",
            "required": true,
            "explode": true,
            "schema": { "type": "string" }
          },
          {
            "name": "x-auth-token",
            "in": "header",
            "required": true,
            "explode": false,
            "schema": { "type": "string" }
          },
          {
            "name": "ID",
            "in": "query",
            "description": "Dashboard ID",
            "required": true,
            "explode": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ResponseObject" }
              }
            }
          },
          "300": {
            "description": "Ambiguous Request"
          },
          "400": {
            "description": "Missing Data, Bad Request"
          },
          "404": {
            "description": "Dashboard not found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },

    "/api/content/createfolder": {
      "post": {
        "tags": [ "Content" ],
        "summary": "Create Folder",
        "description": "Create new Folder in Organization gallery",
        "operationId": "createFolder",
        "parameters": [
          {
            "name": "x-management-key",
            "in": "header",
            "required": true,
            "explode": true,
            "schema": { "type": "string" }
          },
          {
            "name": "x-auth-token",
            "in": "header",
            "required": true,
            "explode": false,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "description": "Request Body for Creating New Folder",
          "content": {
            "application/json": { "schema": { "$ref": "#/components/schemas/Folder" } }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ResponseString" }
              }
            }
          },
          "300": {
            "description": "Ambiguous Request"
          },
          "400": {
            "description": "Missing Request Data, Bad Request"
          },
          "404": {
            "description": "Recources Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/content/listfolders": {
      "get": {
        "tags": [ "Content" ],
        "summary": "Get All Organization Gallery Folders",
        "description": "View all the folders and their content in the Organization Gallery",
        "operationId": "getOrgFolders",
        "parameters": [
          {
            "name": "x-management-key",
            "in": "header",
            "required": true,
            "explode": true,
            "schema": { "type": "string" }
          },
          {
            "name": "x-auth-token",
            "in": "header",
            "required": true,
            "explode": false,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ResponseObject" }
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/content/getfolderbyname": {
      "get": {
        "tags": [ "Content" ],
        "summary": "Get Folder",
        "description": "Get a specific folder from organization gallery",
        "operationId": "getFolder",
        "parameters": [
          {
            "name": "x-management-key",
            "in": "header",
            "required": true,
            "explode": true,
            "schema": { "type": "string" }
          },
          {
            "name": "x-auth-token",
            "in": "header",
            "required": true,
            "explode": false,
            "schema": { "type": "string" }
          },
          {
            "name": "Name",
            "in": "query",
            "description": "Folder Name",
            "required": true,
            "explode": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ResponseObject" }
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "300": {
            "description": "Ambiguous Request"
          },
          "400": {
            "description": "Missing Request Data"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/content/getfolderbyid": {
      "get": {
        "tags": [ "Content" ],
        "summary": "Get Folder",
        "description": "Get a specific folder from organization gallery",
        "operationId": "getFolder",
        "parameters": [
          {
            "name": "x-management-key",
            "in": "header",
            "required": true,
            "explode": true,
            "schema": { "type": "string" }
          },
          {
            "name": "x-auth-token",
            "in": "header",
            "required": true,
            "explode": false,
            "schema": { "type": "string" }
          },
          {
            "name": "ID",
            "in": "query",
            "description": "ID",
            "required": true,
            "explode": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ResponseObject" }
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "300": {
            "description": "Ambiguous Request"
          },
          "400": {
            "description": "Missing Request Data"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/content/uploaditem": {
      "post": {
        "tags": [ "Content" ],
        "summary": "Upload Data to Organization Gallery",
        "description": "Upload Data to a specific folder in organization gallery.",
        "operationId": "upload",
        "parameters": [
          {
            "name": "x-management-key",
            "in": "header",
            "required": true,
            "explode": true,
            "schema": { "type": "string" }
          },
          {
            "name": "x-auth-token",
            "in": "header",
            "required": true,
            "explode": false,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "description": "Request body for uploading data",
          "content": {
            "multipart/form-data": { "schema": { "$ref": "#/components/schemas/UploadData" } }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ResponseString" }
              }
            }
          },
          "300": {
            "description": "Ambiguous Request"
          },
          "400": {
            "description": "Missing Request Data"
          },
          "404": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/content/deletefolderbyname": {
      "delete": {
        "tags": [ "Content" ],
        "summary": "Delete Folder by Name",
        "description": "Delete a specific folder from organization gallery",
        "operationId": "deleteFolderbyName",
        "parameters": [
          {
            "name": "x-management-key",
            "in": "header",
            "required": true,
            "explode": true,
            "schema": { "type": "string" }
          },
          {
            "name": "x-auth-token",
            "in": "header",
            "required": true,
            "explode": false,
            "schema": { "type": "string" }
          },
          {
            "name": "Name",
            "in": "query",
            "description": "Name",
            "required": true,
            "explode": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ResponseObject" }
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "300": {
            "description": "Ambiguous Request"
          },
          "400": {
            "description": "Missing Request Data"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/content/deletefolderbyid": {
      "delete": {
        "tags": [ "Content" ],
        "summary": "Delete Folder by ID",
        "description": "Delete a specific folder from organization gallery",
        "operationId": "deleteFolderbyID",
        "parameters": [
          {
            "name": "x-management-key",
            "in": "header",
            "required": true,
            "explode": true,
            "schema": { "type": "string" }
          },
          {
            "name": "x-auth-token",
            "in": "header",
            "required": true,
            "explode": false,
            "schema": { "type": "string" }
          },
          {
            "name": "ID",
            "in": "query",
            "description": "ID",
            "required": true,
            "explode": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ResponseObject" }
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "300": {
            "description": "Ambiguous Request"
          },
          "400": {
            "description": "Missing Request Data"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/content/itembyid": {
      "delete": {
        "tags": [ "Content" ],
        "summary": "Delete Item by ID",
        "description": "Delete a specific item from organization gallery",
        "operationId": "deleteItembyID",
        "parameters": [
          {
            "name": "x-management-key",
            "in": "header",
            "required": true,
            "explode": true,
            "schema": { "type": "string" }
          },
          {
            "name": "x-auth-token",
            "in": "header",
            "required": true,
            "explode": false,
            "schema": { "type": "string" }
          },
          {
            "name": "ID",
            "in": "query",
            "description": "ID",
            "required": true,
            "explode": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Operation",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ResponseObject" }
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "300": {
            "description": "Ambiguous Request"
          },
          "400": {
            "description": "Missing Request Data"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },


    "components": {
      "schemas": {
        "ResponseString": {
          "type": "object",
          "properties": {
            "returnStatusCode": {
              "type": "integer",
              "format": "int64",
              "example": 200
            },
            "returnCode": { "type": "string" },
            "payLoad": { "type": "string" },
            "message": { "type": "string" },
            "severity": { "type": "integer" }
          }
        },
        "ResponseObject": {
          "type": "object",
          "properties": {
            "returnStatusCode": {
              "type": "integer",
              "format": "int64",
              "example": 200
            },
            "returnCode": { "type": "string" },
            "payLoad": { "type": "object" },
            "message": { "type": "string" },
            "severity": { "type": "integer" }
          }
        },
        "Login": {
          "type": "object",
          "properties": {
            "EmailAddress": {
              "type": "string",
              "default": ""
            },
            "Password": {
              "type": "string",
              "default": ""
            }
          }
        },
        "DashboardData": {
          "type": "object",
          "properties": {
            "Label": {
              "type": "string",
              "default": ""
            },
            "Value": {
              "type": "string",
              "default": ""
            },
            "Unit": {
              "type": "string",
              "default": ""
            }
          }
        },
        "Dashboard": {
          "type": "object",
          "properties": {
            "Name": {
              "type": "string",
              "default": ""
            },
            "Data": {
              "type": "array",
              "items": { "$ref": "#/components/schemas/DashboardData" }
            }
          }
        },
        "DashboardEmpty": {
          "type": "object",
          "properties": {
            "Name": {
              "type": "string",
              "default": ""
            }
          }
        },
        "DashboardParm": {
          "type": "object",
          "properties": {
            "id": {
              "type": "string",
              "default": ""
            }
          }
        },
        "AddData": {
          "type": "array",
          "items": { "$ref": "#/components/schemas/DashboardData" }
        },
        "DashBoardDataByID": {
          "type": "object",
          "properties": {
            "id": {
              "type": "string",
              "default": ""
            },
            "Label": {
              "type": "string",
              "default": ""
            },
            "Value": {
              "type": "string",
              "default": ""
            },
            "Unit": {
              "type": "string",
              "default": ""
            }
          }
        },
        "Folder": {
          "type": "object",
          "properties": {
            "ParentFolder": {
              "type": "string",
              "default": ""
            },
            "FolderName": {
              "type": "string",
              "default": ""
            }
          }
        },
        "UploadData": {
          "type": "object",
          "properties": {
            "FolderName": {
              "type": "string",
              "default": ""
            },
            "ParentFolder": {
              "type": "string",
              "default": ""
            },
            "Files": {
              "type": "array",
              "items": {
                "type": "string",
                "format": "binary"
              }
            }
          }
        }
      }
    }
  }
}
